* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body,
html {
    width: 100%;
}
.changeBox {
    float: left;
    position: absolute;
    right: 30%;
    top: 0;
    
    height: 100%;
    width: 200px;
}
.changeBox>input {
    position: absolute;
    left: 15%;
    top: 35px; 

    width: 70%;
    height: 25px;

    outline: none;
}
.changeBox>span:nth-of-type(1) {
    position: absolute;
    top: 70px;
    left: 10%;
    
    border-radius: 5px;
    width: 60px;
    height: 30px;
    background-color: royalblue;

    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.changeBox>span:nth-of-type(2) {
    position: absolute;
    top: 70px;
    right: 10%;
    
    border-radius: 5px;
    width: 60px;
    height: 30px;
    background-color: royalblue;

    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.questionBox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 960px;
    z-index: 9999;
}
.questionBox>span {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
    
    opacity: 0.6;
}
.questionBox>div {
    display: inline-block;
    position: relative;

    width: 540px;
    height: 250px;
    background-color: #fff;
    z-index: 99999;
}
.questionBox>div>span:nth-of-type(1) {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 25px;

    width: 40px;
    height: 40px;
}
.questionBox>div>span:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}
.questionBox>div>input {
    position: absolute;
    overflow: auto;
    top: 30px;
    left: 80px;

    border: none;
    width: 430px;
    height: 40px;
    background-color: #fff;

    outline: none;
    font-size: 18px;
}
.questionBox>div>textarea {
    position: absolute;
    top: 130px;
    left: 25px;
    overflow: auto;
    
    width: 490px;
    height: 0px;
    
    outline: none;
    font-size: 16px;
    opacity: 0;
}
.questionBox>div>span:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    right: 25px;

    border-radius: 5px;
    width: 90px;
    height: 32px;
    background-color: rgb(59, 93, 198);
    
    text-align: center;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.questionBox>div>span:nth-of-type(3) {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: -50px;

    border-radius: 5px;
    width: 24px;
    height: 24px;
    
    cursor: pointer;
    color: #fff;
}
.top {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 999;
    
    border-bottom: 1px solid #a7a7a7;
    height: 60px;
    width: 100%;

    box-shadow: 0 1px 5px #a7a7a7;
}
.top>div {
    position: relative;
    top: 0;
    
    width: 100%;
    height: 120px;
    transition: all 0.3s;
}
.up {
    float: left;
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #fff;
}
.topUpMain {
    position: relative;
    
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}
.topUpMain>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 375px;
    height: 100%;
}
.topUpMain>ul>li {
    height: 100%;
    display: flex;
    align-items: center;
}
.topUpMain>ul>li>a {
    color: #8590a6;
    font-size: 15px;
}
.topUpMain>ul>li>a:hover {
    color: royalblue;
}
.searchBox {
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 400px;
    overflow: hidden;

    border-radius: 17px;
    width: 400px;
    height: 34px;
    background-color: #d7d7d7;
    transition: all 0.1s;
    opacity: 0.8;
}
.search {
    position: absolute;
    left: 17px;
    top: 5px;

    border: none;
    outline: none;
    width: 328px;
    height: 24px;
    background-color: #d7d7d7;
}
.searchBox>span {
    position: absolute;
    display: inline-block;
    right: 17px;
    top: 8px;

    width: 17px;
    height: 17px;
    background-image: url(./img/sprites.png);
    background-position: -80px -70px;
    
    cursor: pointer;
}
.topUpMain>span:nth-of-type(1) {
    position: absolute;
    display: inline-block;
    left: 820px;
    top: 13px;

    border-radius: 17px;
    width: 70px;
    height: 34px;
    background-color: royalblue;

    text-align: center;
    line-height: 34px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    visibility: visible;
}
.topUpMain>span:nth-of-type(1):hover {
    background-color: rgb(46, 82, 190);
}
.topUpMain>span:nth-of-type(2) {
    position: absolute;
    display: inline-block;
    left: 910px;
    top: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.topUpMain>span:nth-of-type(2)>span:nth-of-type(1) {
    float: left;

    padding-left: 11px;
    padding-top: 5px;
    width: 40px;
    height: 30px;
}

.topUpMain>span:nth-of-type(2)>span:nth-of-type(2) {
    float: left;

    width: 40px;
    height: 10px;

    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #a7a7a7;
}
.topUpMain>span:nth-of-type(3) {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.topUpMain>span:nth-of-type(3)>span:nth-of-type(1) {
    float: left;

    padding-left: 11px;
    padding-top: 5px;
    width: 40px;
    height: 30px;
}
.topUpMain>span:nth-of-type(3)>span:nth-of-type(2) {
    float: left;

    width: 40px;
    height: 10px;

    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #a7a7a7;
}
.upLogo {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 280px;

    width: 70px;
    height: 35px;
}
.userImg {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 290px;

    width: 40px;
    height: 40px;
    background-color: #fff;

    cursor: pointer;
}
.userImg>img {
    width: 100%;
    height: 100%;
}
.userImg>a {
    position: absolute;
    top: 0;
    left: 0;
    
    display: inline-block;
    width: 100%;
    height: 100%;
}
.body {
    position: relative;
    background-color: #f3f1f1;
}
.main {
    position: relative;
    width: 1000px;
    height: 1400px;
    margin: 0 auto;
}
.main>div:nth-of-type(1) {
    width: 100%;
    height: 70px;
}
.mainContent {
    position: relative;
    width: 100%;
    height: 1240px;
    background-color: #fff;
    box-shadow: 0 2px 3px #a7a7a7;
}
.headPortrait {
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 25px;
    overflow: hidden;
    
    border: 4px solid #fff;
    border-radius: 10px;
    width: 170px;
    height: 170px;
    z-index: 900;
}
.headPortrait>img {
    width: 162px;
    height: 162px;
}
.headPortrait>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 162px;
    height: 162px;
    
    opacity: 0;
}
.Mask {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    background-color: #000;

    width: 100%;
    height: 100%;
    
    opacity: 0.4;
    cursor: pointer;
}
.Mask-content {
    position: absolute;
    display: inline-block;
    left: 33px;
    top: 51px;
}
.Mask-content>svg {
    margin-left: 30px;
}
.UserAvatarEditor-maskInnerText {
    color: #fff;
}
.Background {
    float: left;
    position: relative;

    width: 100%;
    height: 240px;
    background-color: #f3f1f1;
}
.Background>img {
    height: 100%;
    width: 100%;
}
.uploadBackground {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 30px;

    border-radius: 2px;
    border: 1px solid rgb(211, 211, 211);
    width: 150px;
    height: 35px;

    cursor: pointer;
}
.uploadBackground>span:nth-of-type(1) {
    position: absolute;
    top: 7px;
    left: 11px;
}
.uploadBackground>span:nth-of-type(2) {
    position: absolute;
    left: 40px;

    height: 33px;

    line-height: 33px;
    color: rgb(211, 211, 211);
    font-size: 15px;
}
.uploadBackground>input {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.selfImformation {
    float: right;
    display: flex;
    flex-direction: column;
    
    height: 1000px;
    width: 780px;
}
.selfImformation>div {
    position: relative;

    margin-bottom: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 760px;
    height: 100px;
}
.userName {
    float: left;

    height: 30px;

    line-height: 30px;
    font-weight: 700;
    font-size: 25px;
}
.editUserName {
    position: relative;
    float: left;

    margin-left: 30px;
    height: 30px;
    width: 70px;

    cursor: pointer;
}
.editUserName>svg {
    position: absolute;
    top: 6px;
}
.editUserName>span {
    position: absolute;
    left: 25px;
    
    height: 30px;
    
    line-height: 30px;
    font-size: 14px;
    color: #175199;
}
.backToMyself {
    float: right;
    position: relative;

    height: 30px;

    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
    color: #8590a6;
}
.backToMyself>a {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
}

.selfImformation>li {
    position: relative;

    margin-bottom: 20px;
    border-bottom: 1px solid #8590a674;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 760px;
    height: 100px;
}
.selfImformation>li>span:nth-of-type(1) {
    float: left;

    height: 30px;

    line-height: 30px;
    font-weight: 700;
    font-size: 16px;
}
.selfImformation>li>div:nth-of-type(1) {
    float: right;
    width: 562px;
    height: 100%;
}
.selfImformation>li>div:nth-of-type(1)>span:nth-of-type(1) {
    float: left;

    height: 30px;

    line-height: 30px;
    font-size: 16px;
}
.selfImformation>li>div:nth-of-type(1)>span:nth-of-type(2) {
    float: left;
    position: relative;

    margin-left: 10px;
    height: 30px;
    width: 150px;

    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
}
.selfImformation>li>div:nth-of-type(1)>span:nth-of-type(2)>svg {
    position: absolute;
    top: 6px;
}
.selfImformation>li>div:nth-of-type(1)>span:nth-of-type(2)>span {
    position: absolute;
    left: 25px;
    
    height: 30px;
    
    line-height: 30px;
    font-size: 14px;
    color: #175199;
}
