* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    overflow: hidden;
}
.body {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    
    background-color: skyblue;
    background-image: url(./img/background.png);
    background-position: center center;
}
.loginBox {
    position: relative;
    
    border-radius: 10px;
    width: 800px;
    height: 500px;
    background-color: #fff;
}
.logo {
    position: absolute;
    display: inline-block;
    left: 335px;
    top: -150px;

    width: 128px;
    height: 81px;
    background-image: url(./img/logo.png);
    background-size: contain;
}
.loginBoxTop {
    float: left;
    border-radius: 10px;
    width: 800px;
    height: 80px;
}
.loginBoxTop>span {
    display: inline-block;
    
    margin-left: 40px;
    height: 80px;

    font-size: 18px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}
/*选中登录&注册*/
.loginBoxTop_checked {  
    font-weight: 700;
    border-bottom: 2px solid royalblue;
}
.loginBoxMain {
    position: absolute;
    top: 80px;
    
    border-radius: 10px;
    width: 800px;
    height: 420px;     

    visibility: visible;
}
.loginBoxMain>input:nth-of-type(1) {
    position: absolute;
    left: 225px;
    top: 100px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.loginBoxMain>input:nth-of-type(1)::-webkit-input-placeholder {
    font-size: 15px;
}
.loginBoxMain>input:nth-of-type(2) {
    position: absolute;
    left: 225px;
    top: 160px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;

    font-size: 25px;
}
.loginBoxMain>input:nth-of-type(2)::-webkit-input-placeholder {
    font-size: 15px;
}
.loginBtn {
    display: inline-block;
    position: absolute;
    left: 225px;
    bottom: 80px;

    border-radius: 5px;
    width: 350px;
    height: 50px;
    background-color: royalblue;
    
    cursor: pointer;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.loginBtn:hover {
    background-color: rgb(43, 80, 191);
}
.watchEye {
    position: absolute;
    display: inline-block;
    left: 549px;
    top: 175px;
    
    border: 1px solid black;
    border-radius: 10px;
    width: 26px;
    height: 20px;

    cursor: pointer;
}
.watchEye>span {
    position: absolute;
    display: inline-block;
    left: 8px;
    top: 5px;
    
    border: 1px solid black;
    border-radius: 4px;
    width: 8px;
    height: 8px;

    text-align: center;
    line-height: 6px;
    font-size: 22px;
}

.registerBoxMain {
    position: absolute;
    top: 80px;
    
    border-radius: 10px;
    width: 800px;
    height: 420px;
}
.registerBoxMain>input:nth-of-type(1) {
    position: absolute;
    left: 225px;
    top: 60px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 30px;

    outline: none;
    font-size: 16px;
}
.registerBoxMain>input::-webkit-input-placeholder {
    font-size: 15px;
}
.registerBoxMain>span:nth-of-type(1) {
    position: absolute;
    right: 580px;
    top: 58px;

    line-height: 30px;
}
.registerBoxMain>input:nth-of-type(2) {
    position: absolute;
    left: 225px;
    top: 100px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 30px;

    outline: none;
    font-size: 16px;
}
.registerBoxMain>span:nth-of-type(2) {
    position: absolute;
    right: 580px;
    top: 98px;

    line-height: 30px;
}
.registerBoxMain>input:nth-of-type(3) {
    position: absolute;
    left: 225px;
    top: 140px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 30px;

    outline: none;
    font-size: 16px;
}
.registerBoxMain>span:nth-of-type(4) {
    position: absolute;
    right: 580px;
    top: 138px;

    line-height: 30px;
}
.registerBoxMain>input:nth-of-type(4) {
    position: absolute;
    left: 225px;
    top: 180px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 30px;

    outline: none;
    font-size: 16px;
}
.registerBoxMain>input:nth-of-type(5) {
    position: absolute;
    left: 225px;
    top: 220px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 30px;

    outline: none;
    font-size: 16px;
}
.registerBoxMain>span:nth-of-type(7) {
    position: absolute;
    right: 580px;
    top: 218px;

    line-height: 30px;
}

.registerBtn {
    display: inline-block;
    position: absolute;
    left: 225px;
    bottom: 80px;

    border-radius: 5px;
    width: 350px;
    height: 50px;
    background-color: royalblue;
    
    cursor: pointer;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.registerBtn:hover {
    background-color: rgb(43, 80, 191);
}
.emailErrow {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 98px;

    height: 30px;

    line-height: 30px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
.registerPasswordErrow {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 138px;

    height: 30px;

    line-height: 30px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
.passwordNotMatch {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 178px;

    height: 30px;

    line-height: 30px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
/* .verificationCodeErrow {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 218px;

    height: 30px;

    line-height: 30px;
    font-size: 15px;
    color: red;
    visibility: hidden;
} */
.getVerificationCode {
    position: absolute;
    display: inline-block;
    top: 225px;
    left: 495px;

    height: 20px;

    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.onclickForbidden {
    pointer-events: none;
}
.getVerificationCode:hover {
    color: #191818b9;
}

