* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    overflow: hidden;
}
.body {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    
    background-color: skyblue;
    background-image: url(./img/background.png);
    background-position: center center;
}
.loginBox {
    position: relative;
    
    border-radius: 10px;
    width: 800px;
    height: 500px;
    background-color: #fff;
}
.logo {
    position: absolute;
    display: inline-block;
    left: 335px;
    top: -150px;

    width: 128px;
    height: 81px;
    background-image: url(./img/logo.png);
    background-size: contain;
}
.loginBoxTop {
    float: left;
    border-radius: 10px;
    width: 800px;
    height: 80px;
}
.loginBoxTop>span {
    display: inline-block;
    
    margin-left: 40px;
    height: 80px;

    font-size: 18px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}
/*选中登录&注册*/
.loginBoxTop_checked {  
    font-weight: 700;
    border-bottom: 2px solid royalblue;
}
.loginBoxMain {
    position: absolute;
    top: 80px;
    
    border-radius: 10px;
    width: 800px;
    height: 420px;     

    visibility: visible;
}
.loginBoxMain>input:nth-of-type(1) {
    position: absolute;
    left: 225px;
    top: 100px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.loginBoxMain>input:nth-of-type(1)::-webkit-input-placeholder {
    font-size: 15px;
}
.loginBoxMain>input:nth-of-type(2) {
    position: absolute;
    left: 225px;
    top: 160px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 50px;
}
.loginBoxMain>input:nth-of-type(2)::-webkit-input-placeholder {
    font-size: 15px;
}
.loginBtn {
    display: inline-block;
    position: absolute;
    left: 225px;
    bottom: 80px;

    border-radius: 5px;
    width: 350px;
    height: 50px;
    background-color: royalblue;
    
    cursor: pointer;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.loginBtn:hover {
    background-color: rgb(43, 80, 191);
}
.registerBoxMain {
    position: absolute;
    top: 80px;
    
    border-radius: 10px;
    width: 800px;
    height: 420px;
}
.registerBoxMain>input:nth-of-type(1) {
    position: absolute;
    left: 225px;
    top: 60px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.registerBoxMain>input:nth-of-type(1)::-webkit-input-placeholder {
    font-size: 15px;
}
.registerBoxMain>input:nth-of-type(2) {
    position: absolute;
    left: 225px;
    top: 120px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.registerBoxMain>input:nth-of-type(2)::-webkit-input-placeholder {
    font-size: 15px;
}
.registerBoxMain>input:nth-of-type(3) {
    position: absolute;
    left: 225px;
    top: 180px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.registerBoxMain>input:nth-of-type(3)::-webkit-input-placeholder {
    font-size: 15px;
}
.registerBtn {
    display: inline-block;
    position: absolute;
    left: 225px;
    bottom: 80px;

    border-radius: 5px;
    width: 350px;
    height: 50px;
    background-color: royalblue;
    
    cursor: pointer;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
.registerBtn:hover {
    background-color: rgb(43, 80, 191);
}
.registerAccountNumberErrow {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 60px;

    height: 50px;

    line-height: 50px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
.registerPasswordErrow {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 120px;

    height: 50px;

    line-height: 50px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
.passwordNotMatch {
    display: inline-block;
    position: absolute;
    left: 585px;
    top: 180px;

    height: 50px;

    line-height: 50px;
    font-size: 15px;
    color: red;
    visibility: hidden;
}
.registerByEmail {
    display: inline-block;
    position: absolute;
    right: 225px;
    bottom: 160px;

    font-size: 14px;
    color: #979d9d;
    cursor: pointer;
}
.emailBoxMain {
    position: absolute;
    top: 80px;
    
    border-radius: 10px;
    width: 800px;
    height: 420px;
}
.emailBoxMain>input:nth-of-type(1) {
    position: absolute;
    left: 225px;
    top: 60px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.emailBoxMain>input:nth-of-type(1)::-webkit-input-placeholder {
    font-size: 15px;
}
.emailBoxMain>input:nth-of-type(2) {
    position: absolute;
    left: 225px;
    top: 120px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.emailBoxMain>input:nth-of-type(2)::-webkit-input-placeholder {
    font-size: 15px;
}
.emailBoxMain>input:nth-of-type(3) {
    position: absolute;
    left: 225px;
    top: 180px;

    border: 0 solid black;
    border-bottom: 2px solid #e0e0e0;
    width: 350px;
    height: 50px;

    outline: none;
    line-height: 50px;
    font-size: 20px;
}
.emailBoxMain>input:nth-of-type(3)::-webkit-input-placeholder {
    font-size: 15px;
}
.getVerificationCode {
    position: absolute;
    display: inline-block;
    top: 185px;
    left: 495px;

    width: 80px;
    height: 40px;

    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.registerBack {
    display: inline-block;
    position: absolute;
    right: 225px;
    bottom: 160px;

    font-size: 14px;
    color: #979d9d;
    cursor: pointer;
}
