* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body,
html {
    width: 100%;
}
.top {
    position: fixed;
    overflow: hidden;
    z-index: 999;
    
    height: 60px;
    width: 100%;
}
.top>div {
    width: 100%;
    height: 120px;
    transition: all 0.3s;
}
.up {
    float: left;
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #101A54;
}
.topUpMain {
    position: relative;
    
    margin: 0 auto;
    width: 1000px;
    height: 60px;
}
.topUpMain>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 375px;
    height: 60px;
}
.topUpMain>ul>li {
    height: 100%;
    display: flex;
    align-items: center;
}
.topUpMain>ul>li>a {
    color: #f5f5f5;
    font-size: 15px;
}
.topUpMain>ul>li>a:hover {
    color: white;
}
.searchBox {
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 400px;
    overflow: hidden;

    border-radius: 17px;
    width: 400px;
    height: 34px;
    background-color: #f6f6f6;
    transition: all 0.5s;
    opacity: 0.6;
}
.search {
    position: absolute;
    left: 17px;
    top: 5px;

    border: none;
    outline: none;
    width: 328px;
    height: 24px;
    background-color: #f6f6f6;
}
.searchBox>span {
    position: absolute;
    display: inline-block;
    right: 17px;
    top: 8px;

    width: 17px;
    height: 17px;
    background-image: url(./img/sprites.png);
    background-position: -80px -70px;
    
    cursor: pointer;
}
.topUpMain>span:nth-of-type(1) {
    position: absolute;
    display: inline-block;
    left: 820px;
    top: 13px;

    border-radius: 17px;
    width: 70px;
    height: 34px;
    background-color: #f5f5f5;

    text-align: center;
    line-height: 34px;
    color: royalblue;
    cursor: pointer;
    font-size: 14px;
}
.topUpMain>span:nth-of-type(1):hover {
    background-color: #fff;
}
.topUpMain>span:nth-of-type(2) {
    position: absolute;
    display: inline-block;
    left: 910px;
    top: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.topUpMain>span:nth-of-type(2)>span:nth-of-type(1) {
    float: left;

    padding-left: 11px;
    padding-top: 5px;
    width: 40px;
    height: 30px;
}

.topUpMain>span:nth-of-type(2)>span:nth-of-type(2) {
    float: left;

    width: 40px;
    height: 10px;

    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #fff;
}
.topUpMain>span:nth-of-type(3) {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 10px;

    width: 40px;
    height: 40px;

    cursor: pointer;
}
.topUpMain>span:nth-of-type(3)>span:nth-of-type(1) {
    float: left;

    padding-left: 11px;
    padding-top: 5px;
    width: 40px;
    height: 30px;
}
.topUpMain>span:nth-of-type(3)>span:nth-of-type(2) {
    float: left;

    width: 40px;
    height: 10px;

    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #fff;
}
.upLogo {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 280px;

    width: 70px;
    height: 35px;
}
.userImg {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 290px;

    width: 40px;
    height: 40px;
    background-color: #fff;

    cursor: pointer;
}

.down {
    float: left;
    position: relative;
    height: 60px;
    width: 100%;
}
.downMain {
    position: relative;
    
    margin: 0 auto;
    width: 1000px;
    height: 60px;
}
.downMain>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 300px;
    height: 60px;
}
.downMain>ul>li {
    height: 100%;
    line-height: 60px;
    cursor: pointer;
}
.downMain>ul>li:hover {
    color: #101A54;
}
.searchBox2 {
    position: absolute;
    display: inline-block;
    top: 13px;
    right: 0;
    overflow: hidden;

    border-radius: 17px;
    border: 1px solid black;
    width: 300px;
    height: 34px;
}
.search2 {
    position: absolute;
    left: 17px;
    top: 5px;

    border: none;
    outline: none;
    width: 228px;
    height: 24px;
    background-color: white;
}
.searchBox2>span {
    position: absolute;
    display: inline-block;
    right: 17px;
    top: 8px;

    width: 17px;
    height: 17px;
    background-image: url(./img/sprites.png);
    background-position: -80px -70px;
    
    cursor: pointer;
}
.down>span:nth-of-type(1) {
    position: absolute;
    display: inline-block;
    right: 270px;
    top: 13px;

    border-radius: 17px;
    width: 70px;
    height: 34px;
    background-color: royalblue;

    text-align: center;
    line-height: 34px;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
}
.down>span:nth-of-type(1):hover {
    background-color: #1d309f;
}
.downLogo {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 280px;

    width: 70px;
    height: 35px;
}

.activity {
    float: left;
    position: relative;

    width: 100%;
    height: 260px;
    background-color: #101A54;
}
.activity>div {
    margin: 60px 203px 0 203px;
    width: 1300px;
    height: 200px;
}
.activity>div>img {
    width: 100%;
    height: 100%;
}
.activity>span {
    display: inline-block;
    position: absolute;
    right: 353px;
    top: 65px;

    width: 40px;
    height: 40px;

    font-size: 30px;
    text-align: center;
    line-height: 40px;
    color: #e0e0e0;
    cursor: pointer;
}
.body {
    float: left;
    position: relative;
    width: 100%;
    background-color: #f3f1f1;
}
.body>span:nth-of-type(1) {
    display: inline-block;
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 60px;
    background-color: #101A54;
}
.bodyMain {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}
.bodyTop {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 700px;
    height: 60px;
    background-color: #fff;
}
.bodyTop>li {
    margin: 0 10px;
    width: 60px;
    height: 60px;

    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.bodyTop>li:hover {
    color: royalblue;
}
.mainContent {
    position: relative;

    margin-bottom: 50px;
    width: 700px;
    box-shadow: 0 1px #e0e0e0;
}
.mainContent>ul {
    width: 100%;
}
.mainContent>ul>li {
    position: relative;

    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    height: 150px;
    background-color: white;

    cursor: pointer;
}
.mainContent>ul>li>span:nth-of-type(1) {
    position: absolute;
    left: 0;
    top: 10px;
    
    width: 60px;
    height: 30px;
    
    color: #999;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.mainContent>ul>li>span:nth-of-type(2) {
    position: absolute;
    left: 65px;
    top: 10px;
    overflow: hidden;

    width: 400px;
    height: 60px;
    
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
}
.mainContent>ul>li>span:nth-of-type(3) {
    position: absolute;
    left: 65px;
    top: 70px;
    overflow: hidden;

    width: 400px;
    height: 30px;
    
    line-height: 30px;
    font-size: 16px;
}
.mainContent>ul>li>span:nth-of-type(4) {
    position: absolute;
    left: 65px;
    top: 110px;
}
.mainContent>ul>li>span:nth-of-type(5) {
    position: absolute;
    left: 85px;
    top: 110px;

    font-size: 14px;
    color: #7a7a7a;
}
.mainContent>ul>li>span:nth-of-type(6) {
    position: absolute;
    left: 200px;
    top: 110px;
}
.mainContent>ul>li>span:nth-of-type(7) {
    position: absolute;
    left: 225px;
    top: 110px;

    font-size: 14px;
    color: #7a7a7a;
}
.mainContent>ul>li>img {
    position: absolute;
    left: 475px;
    top: 25px;
    
    width: 200px;
    height: 100px;
    background-color: royalblue;
}
.mainContent>span {
    position: absolute;
    bottom: -30px;

    width: 100%;
    
    text-align: center;
    color: #4d4d4d;
    cursor: default;
}

.rightList {
    position: absolute;
    top: 0;
    right: 0;

    width: 295px;
}
.creationCenter {
    float: left;
    position: relative;

    margin-bottom: 10px;
    border-radius: 1px;
    width: 295px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 1px #e0e0e0;
}
.creationCenter>span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 20px;

    padding-left: 4px;
    padding-top: 4px;
    width: 24px;
    height: 24px;
}
.creationCenter>span:nth-of-type(2) {
    position: absolute;
    left: 50px;
    top: 24px;
    
    font-size: 14px;
    cursor: default;
}
.creationCenter>span:nth-of-type(3) {
    position: absolute;
    right: 30px;
    top: 24px;
    
    font-size: 12px;
    cursor: pointer;
    color: #beb7b7;
}
.creationCenter>span:nth-of-type(4) {
    position: absolute;
    right: 14px;
    top: 24px;
    
    font-size: 12px;
    cursor: pointer;
}
.creationCenter>div:nth-of-type(1) {
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 60px;
}
.creationCenter>div:nth-of-type(1)>div {
    position: relative;
    height: 60px;
    width: 50px;
    cursor: pointer;
}
.creationCenter>div:nth-of-type(1)>div>span:nth-of-type(2) {
    position: absolute;
    bottom: 0;

    height: 20px;
    width: 50px;

    font-size: 10px;
    line-height: 20px;
    text-align: center;
}
.questionAnswering {
    position: absolute;
    left: 5px;

    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: rgb(187, 214, 254);
}
.sendVideo {
    position: absolute;
    left: 5px;

    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffe3bd;
}
.writeArticle {
    position: absolute;
    left: 5px;

    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff2b6;
}
.writeIdeas {
    position: absolute;
    left: 5px;

    border-radius: 20px;
    width: 40px;
    height: 40px;
    background-color: #a9f0f0;
}
.creationCenter>span:nth-of-type(5) {
    position: absolute;
    top: 170px;
    left: 16px;
    
    width: 262px;
    height: 100px;
    background-color: #f5f5f5;
}
.creationCenter>span:nth-of-type(5)>span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 16px;
}
.creationCenter>span:nth-of-type(5)>span:nth-of-type(2) {
    position: absolute;
    left: 20px;
    top: 38px;

    width: 128px;
    font-size: 12px;
    color: #7a7a7a;
}
.creationCenter>span:nth-of-type(5)>img {
    position: absolute;
    top: 15px;
    right: 25px;

    width: 61px;
    height: 60px;
}
.creationCenter>span:nth-of-type(6) {
    position: absolute;
    bottom: 15px;
    left: 16px;

    border-radius: 5px;
    border: 1px solid royalblue;
    width: 262px;
    height: 40px;

    text-align: center;
    line-height: 38px;
    color: royalblue;
    cursor: pointer;
}

.recommendedAttention {
    float: left;
    position: relative;

    margin-bottom: 10px;
    border-radius: 1px;
    width: 295px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 1px #e0e0e0;
}
.recommendedAttention>span:nth-of-type(1) {
    position: absolute;
    left: 20px;
    top: 20px;

    padding-left: 4px;
    padding-top: 4px;
    width: 24px;
    height: 24px;
}
.recommendedAttention>span:nth-of-type(2) {
    position: absolute;
    left: 50px;
    top: 24px;
    
    font-size: 14px;
    cursor: default;
}

.toolBox {
    float: left;
    
    margin-bottom: 10px;
    border-radius: 1px;
    width: 100%;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 1px #e0e0e0;
}
.toolBox>img {
    float: left;
    
    width: 100%;
    height: 100px;
}
.toolBox>ul {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 200px;
}
.toolBox>ul>li {
    position: relative;
    
    width: 80px;
    height: 80px;
}
.toolBox>ul>li>a>span:nth-of-type(1) {
    display: inline-block;
    position: absolute;
    left: 28px;
    top: 15px;
}
.toolBox>ul>li:nth-of-type(1)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(1)>a>span:nth-of-type(2):hover {
    color: rgb(231, 184, 29);
}
.toolBox>ul>li:nth-of-type(2)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(2)>a>span:nth-of-type(2):hover {
    color: rgb(67, 212, 128);
}
.toolBox>ul>li:nth-of-type(3)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(3)>a>span:nth-of-type(2):hover {
    color: rgb(0, 102, 255);
}
.toolBox>ul>li:nth-of-type(4)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(4)>a>span:nth-of-type(2):hover {
    color: rgb(15, 136, 235)
}
.toolBox>ul>li:nth-of-type(5)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(5)>a>span:nth-of-type(2):hover {
    color: rgb(84, 120, 240);
}
.toolBox>ul>li:nth-of-type(6)>a>span:nth-of-type(1)>svg,
.toolBox>ul>li:nth-of-type(6)>a>span:nth-of-type(2):hover {
    color: rgb(88, 104, 209);
}
.toolBox>ul>li>a>span:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    top: 50px;

    width: 80px;
    text-align: center;
    color: #8c8c8c;
}

.myService {
    float: left;
    
    margin-bottom: 10px;
    border-radius: 1px;
    width: 100%;
    height: 340px;
    background-color: #fff;
    box-shadow: 0 1px #e0e0e0;
}
.myService>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
    height: 100%;
}
.myService>ul>li {
    position: relative;

    width: 100%;
    height: 40px;

    cursor: pointer;
}
.myService>ul>li:hover {
    background-color: #f3f1f1;
}
.myService>ul>li>span:nth-of-type(1) {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 20px;

    color: #8590a6;
}
.myService>ul>li>span:nth-of-type(2) {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 47px;

    height: 20px;
    line-height: 20px;
    font-size: 14px;

    color: #8590a6;
}
.myService>ul>li>span:nth-of-type(3) {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;

    width: 20px;
    height: 20px;

    background: #f3f1f1;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: #767676;
}